*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
}

.flex{
    display: flex;
}

/* header */

header{
    height: 30px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: smaller;
    position: fixed;
    z-index: 1;
    justify-content: flex-end;
    align-items: center;
}

header p{
    padding: 3px 3px;
    background-color: hsl(180deg 1% 33%);
    border-radius: 5px;
    margin-right: 5px;
}

/* main */

main{
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: black;
    font-size: small;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 5px;
}

.box{
    width: calc(100% / 8);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.box img{
    width: 100%;
    transition: all 3s ease;
}

.box p{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.box:hover p i{
    color: red;
}

.box:hover img{
    transform: scale(1.5, 1.5);
    filter: hue-rotate(180deg);
}

/* footer */

footer{
    height: 80px;
    width: 100%;
    background-color: #222222;
    color: white;
    font-size: x-small;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.right, .left{
    align-items: center;
    gap: 20px;
}

.left{
    width: 20%;
}

.right{
    width: 10%;
}

.center{
    width: 70%;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.left i, .center i{
    font-size: xx-small;
}

.align{
    text-align: center;
    cursor: pointer;
}

.align i{
    font-size: x-large;
    margin-bottom: 5px;
}

.mic{
    width: 50px;
}

.align .fa-microphone-slash, .fa-video-slash{
    display: none
}

.mic:hover .fa-microphone-slash, .video:hover .fa-video-slash{
    display: inline;
    color: red;
}

.mic:hover .fa-microphone, .video:hover .fa-video{
    display: none;
}

.mic:hover p, .video:hover p{
    margin-top: 5px;
}

.diff:hover i{
    color: limegreen;
}

.right{
    background-color: hsl(0deg 0% 29%);
    cursor: pointer;
}

.right p{
    font-size: larger;
    line-height: 80px;
    text-align: center;
    color: red;
}

.right:hover p{
    text-decoration: underline;
}

.dropdown{
    position: relative;
    display: inline-block;
}
  
.dropdown-content{
    display: none;
    padding: 10px;
    position: absolute;
    bottom: 0;
    background-color: hsl(0deg 0% 29%);
    min-width: 160px;
    z-index: 1;
}
  
.dropdown-content a{
    line-height: 30px;
    padding-left: 5px;
    color: white;
    display: block;
}
  
.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    border: 1px solid white;
}



